/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #e0e0e0;
    background: linear-gradient(270deg, #1a1a1a, #333);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Header */
.navbar{
    background-color: #004a89;
    color: #ffffff;
    font-size: 2rem;
}

/*Inicio*/
#inicio{
    margin-top: 10rem;
    text-align: center;
    align-content: center;
    height: 30rem;
}
#inicio h1{
    font-size: 4rem;
    color: #00ccff;
}
#inicio p{
    font-size: 2.3rem;
    color: #ffffff;
}


/*Sobre Nosotros */
#sobre-nosotros {
    padding: 4rem 2rem;
    text-align: center;
    background-color: cornflowerblue;
    margin: 2rem;
    border-radius: 1rem;
}

#sobre-nosotros h2 {
    color: #00ccff;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

#sobre-nosotros p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

/* Sección de Pilares */
#pilares {
    padding: 4rem 2rem;
    background-color: cornflowerblue;
    text-align: center;
    margin: 2rem;
    border-radius: 1rem;
}

#pilares h2 {
    color: #00ccff;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.pilar {
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    border-radius: 1rem;
}

.pilar h3 {
    font-size: 2.2rem;
    color: #004a89;
    margin-bottom: 1rem;
}

.pilar p {
    font-size: 1.6rem;
    color: #333;
}
.pilar i{
    font-size: 3.5rem; 
}

/*Nuestro Equipo*/
#nuestro-equipo {
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 1rem;
    margin: 2rem;
}
#nuestro-equipo h2{
    color: #00ccff;
    margin: 4rem;
    font-size: 2.8rem;
}
.container-empleados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem; 
}
.empleado-card {
    flex: 1 1 calc(50% - 2rem);
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}
.empleado-card:hover {
    transform: translateY(-10px);
}
.foto-empleado {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
}
.info-empleado h3 {
    font-size: 2rem;
    color: #333;
}
.info-empleado p {
    font-size: 1.5rem;
    color: #666;
}
.skills {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}
.skills li {
    font-size: 1.5rem;
    color: #0077ff;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
.skills li::before {
    content: "✔️";
    margin-right: 8px;
}
/* Estilo de la lista de redes sociales */
.social-media {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.social-media li {
    margin: 0 10px;
}
.social-media li a {
    color: #0077ff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}
.social-media li a:hover {
    color: #0056b3;
}

.fab, .fas {
    font-size: 1.5rem;
}


/*Vision Futura*/
#vision-futuro {
    padding: 4rem 2rem;
    background-color: #fff;
    text-align: center;
    margin: 2rem;
    border-radius: 1rem;
}
#vision-futuro h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
}
.expansion p {
    font-size: 1.6rem;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

/*Contacto*/
#contacto {
    padding: 4rem 2rem;
    text-align: center;
}
#contacto h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
}
#contacto p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}


/* Redes Sociales */
.social-media {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.social-media li {
    margin: 0 1.5rem;
}
.social-media li a {
    font-size: 2rem;
    color: #004a89; 
    text-decoration: none;
    display: flex;
    align-items: center;
}
.social-media li a i {
    margin-right: 0.5rem;
    font-size: 3.5rem; 
}
.social-media li a:hover {
    color: #005bb5;
}

/* Sección de Contacto */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
form input, form textarea {
    width: 80%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
form button {
    font-size: 1.8rem;
    padding: 1rem 3rem;
    color: white;
    background-color: #004a89;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: #003a6e;
}

/* Footer */
footer {
    text-align: center;
    background-color: #004a89;
    color: #fff;
    padding: 1.5rem;
    font-size: 1rem;
}
footer p {
    font-size: 1.6rem;
}
.tecnologias {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tecnologias li {
    margin: 0 1rem;
    display: flex;
    align-items: center;
}
.tecnologias i {
    font-size: 24px;
    margin-right: 0.5rem;
}

/* Media Queries (Responsivo) */
@media (max-width: 768px) {
    .social-media {
        flex-direction: column;
    }
    .social-media li {
        margin-bottom: 1.5rem;
    }
    form input, form textarea {
        width: 90%;
    }

    #pilares {
        display: flex;
        justify-content: space-between;
    }
    .pilar {
        width: 30%;
        margin-bottom: 0;
    }
    .pilar h2 {
        font-size: 2rem;
    }
    .empleado-card {
        flex: 1 1 100%;
        padding: 1.5rem;
    }
    .foto-empleado {
        width: 120px;
        height: 120px;
    }
    .info-empleado h3 {
        font-size: 1.5rem;
    }
    .info-empleado p {
        font-size: 0.9rem;
    }
    .skills li {
        font-size: 0.9rem;
    }
    .expansion p {
        text-align: left;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.8rem;
    }

    .empleado-card {
        padding: 1rem;
    }

    .foto-empleado {
        width: 100px;
        height: 100px;
    }

    .info-empleado h3 {
        font-size: 1.3rem;
    }

    .info-empleado p {
        font-size: 0.8rem;
    }

    .skills li {
        font-size: 0.8rem;
    }
}
