/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #1a1a1a; 
}

body{
    font-family: Arial, sans-serif;
}

/* Header */
.navbar{
    background-color: #004a89;
    color: #ffffff;
    font-size: 2rem;
}

/*Inicio*/
#inicio {
    text-align: center;
    height: 100vh;
    background-image: url("../img/imagen-inicio.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

#inicio h1 {
    font-size: 7rem; 
    margin-bottom: 1rem; 
    color: #00aaff;
    text-shadow: 1px 1px 5px rgba(0, 170, 255, 0.5);
    background-color: #1a1a1a8e;
}

#inicio p {
    font-size: 3rem;
    color: #ffffff;
    background-color: #1a1a1a8e;
}



/* Sobre Nosotros */
#sobre-nosotros {
    padding: 4rem 2rem;
    text-align: center;
    background: linear-gradient(135deg, #1f1f1f, #333);
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    height: auto;
}
/* Título */
#sobre-nosotros h2 {
    color: #00aaff;
    font-size: 3.6rem;
    margin-bottom: 4rem;
    text-shadow: 1px 1px 5px rgba(0, 170, 255, 0.5);
}
/* Párrafos */
#sobre-nosotros p {
    font-size: 2rem;
    margin-bottom: 4rem;
    color: #ccc;
    line-height: 1.6;
}




/* Pilares */
#pilares {
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #d0e0f0, #ffffff);
    color: #e0e0e0;
    text-align: center;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
/* Título */
#pilares h2 {
    color: #00aaff;
    font-size: 3.6rem;
    margin-bottom: 3rem;
    text-shadow: 1px 1px 5px rgba(0, 170, 255, 0.5);
}
/* Contenedor de Pilares */
.container-pilares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Pilares Individuales */
.pilar {
    max-width: 30rem;
    padding: 2rem;
    background: linear-gradient(135deg, #d0e0f0, #ffffff);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    margin: 4rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/* Efecto en Hover para los Pilares */
.pilar:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}
/* Títulos de los Pilares */
.pilar h3 {
color: #00ccff;
font-size: 3rem;
margin-bottom: 2rem;
}
/* Descripción de los Pilares */
.pilar p {
    font-size: 1.8rem;
    color: #1f1f1f; 
}
/* Iconos en los Pilares */
.pilar i {
    font-size: 4rem; 
    color: #00aaff;
    margin-bottom: 1rem;
    transition: color 0.3s ease;
}
/* Cambio de Color del Icono en Hover */
.pilar:hover i {
    color: #007bff;
}



/*Servicios*/
#servicios {
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #1f1f1f, #333);
    color: #1f1f1f; 
    text-align: center;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}
#servicios h2 {
    color: #00ccff; 
    font-size: 3.6rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 5px rgba(0, 170, 255, 0.5);
}
.container-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.servicio-card {
    flex: 1 1 calc(33% - 2rem);
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    border-radius: 1rem;
    padding: 2rem;
    margin: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.servicio-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.icono-servicio {
    font-size: 4rem;
    color: #00ccff; /* Azul para los íconos */
    margin-bottom: 1rem;
}
.info-servicio h3 {
    font-size: 2.2rem;
    color: #00ccff;
}
.info-servicio p {
    font-size: 1.6rem;
    margin: 2rem;
    color: #ccc;
}




/* Vision Futura */
#vision-futuro {
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #f0f4f8, #d0e0f0);
    text-align: center;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
/* Título */
#vision-futuro h2 {
    font-size: 3.6rem;
    color: #00aaff;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 5px rgba(0, 170, 255, 0.5);
}
/* Expansión */
.expansion p {
    font-size: 2rem;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    border-left: 4px solid #00aaff;
    padding-left: 1rem;
    position: relative;
}
/* Línea de Tiempo */
.timeline {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;
    position: relative;
}
.milestone {
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    width: 30%;
    margin-bottom: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
}
.milestone:hover {
    transform: scale(1.05);
}
.milestone h3 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #007bff;
}
.milestone p {
    font-size: 2rem;
}
/* Cita Motivacional */
.quote {
    margin: 2rem 0;
    font-style: italic;
    font-size: 2.5rem;
    color: #555;
    border: 1px solid #00aaff;
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgba(0, 170, 255, 0.1); 
}
/* Iconos Futuristas */
.icons-futuro {
    margin: 2rem 0;
    color: #333;
}
.icons-futuro i {
    margin: 1.5rem;
    font-size: 3rem;
    transition: color 0.3s ease;
}
.icons-futuro i:hover {
    color: #00aaff;
}
/* Botón de Llamada a la Acción */
.cta-futuro {
    margin-top: 2rem;
}
.cta-button {
    padding: 1rem 2rem;
    background: linear-gradient(135deg, #007bff, #00aaff);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.3s ease;
}
.cta-button:hover {
    background: linear-gradient(135deg, #0056b3, #007bff);
    transform: scale(1.05);
}



/* Proyectos */
#proyectos {
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #1f1f1f, #333);
    color: #e0e0e0;
    text-align: center;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
#proyectos h2 {
    color: #00ccff;
    font-size: 3.6rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 5px rgba(0, 170, 255, 0.5);
}
.container-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.proyecto-card {
    flex: 1 1 calc(50% - 2rem);
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.proyecto-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}
.foto-proyecto {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
}
.info-proyecto h3 {
    font-size: 2.2rem;
    color: #00ccff;
}
.info-proyecto p {
    font-size: 1.6rem;
    color: #ccc;
}
.tecnologias, .enlaces-proyecto {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}
.tecnologias h4, .enlaces-proyecto h4 {
    font-size: 2rem;
    color: #00ccff;
    margin-bottom: 1rem;
}
.tecnologias ul, .enlaces-proyecto ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tecnologias li, .enlaces-proyecto li {
    font-size: 1.6rem;
    color: #00ccff;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
.tecnologias li i, .enlaces-proyecto li i {
    margin-right: 0.5rem;
    font-size: 2rem;
}
.enlaces-proyecto {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.enlaces-proyecto li {
    list-style: none;
}
.enlaces-proyecto li a {
    color: #00ccff;
    font-size: 1.8rem;
    transition: color 0.3s ease;
    text-align: center;
    display: block;
}
.enlaces-proyecto li a:hover {
    color: #fff;
}



/*Nuestro Equipo*/
#nuestro-equipo {
    padding: 4rem 2rem;
    background: linear-gradient(135deg, #1f1f1f, #333);
    color: #e0e0e0;
    text-align: center;
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
#nuestro-equipo h2 {
    color: #00ccff;
    font-size: 3.6rem;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 5px rgba(0, 170, 255, 0.5);
}
.container-empleados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.empleado-card {
    flex: 1 1 calc(50% - 2rem);
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.empleado-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}
.foto-empleado {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    border: 3px solid #00ccff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.info-empleado h3 {
    font-size: 2.2rem;
    color: #00ccff;
}
.info-empleado p {
    font-size: 1.6rem;
    color: #ccc;
}
.skills {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}
.skills li {
    font-size: 1.6rem;
    color: #00ccff;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
.skills li::before {
    content: "✔️";
    margin-right: 8px;
}
.social-media-empleado {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.social-media-empleado li a {
    color: #00ccff;
    font-size: 2rem;
    transition: color 0.3s ease;
}
.social-media-empleado li a:hover {
    color: #fff;
}
/*redes sociales */
.social-media-empleado {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.social-media-empleado li {
    margin: 0 10px;
}
.social-media-empleado li a {
    color: #0077ff;
    font-size: 2rem;
    transition: color 0.3s ease;
    text-decoration: none;
}
.social-media-empleado li a:hover {
    color: #0056b3;
}
.fab, .fas {
    font-size: 2.5rem;
}


/*Contacto*/
#contacto {
    padding: 2rem 2rem;
    text-align: center;
    background: linear-gradient(135deg, #d0e0f0, #ffffff);
    margin: 2rem;
    border-radius: 1rem;
}
#contacto h2 {
    font-size: 3.6rem;
    color: #00aaff;
    margin-bottom: 5rem;
    text-shadow: 1px 1px 5px rgba(0, 170, 255, 0.5);
}
#contacto p {
    font-size: 2rem;
    color: #333;
    max-width: 120rem;
    margin: 0 auto;
    line-height: 1.6;
    border-left: 4px solid #00aaff;
    padding-left: 1rem;
    position: relative;
}


/* Seccion Redes Sociales */
.social-media {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.social-media li {
    margin: 1rem;
    margin: 2rem;
}
.social-media li a {
    font-size: 2rem;
    color: #004a89; 
    text-decoration: none;
    display: flex;
    align-items: center;
}
.social-media li a i {
    margin-right: 1.2rem;
    font-size: 3.5rem; 
}
.social-media li a:hover {
    color: #00ccff;
    transform: scale(1.1);
    background: rgba(0, 204, 255, 0.1);
}

/* Sección de Contacto */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #1a1a1a, #4d4d4d);
    border: 1px solid #00ccff;
    box-shadow: 0 0 20px rgba(0, 204, 255, 0.7);
    margin: 5rem auto;
    padding: 3rem;
    border-radius: 1rem;
    max-width: 80rem;
    width: 90%;
    height: 60rem;
    transition: box-shadow 0.3s ease;
}
form:hover {
    box-shadow: 0 0 30px rgba(0, 204, 255, 1);
}
form label {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: #00ccff;
    text-shadow: 0 0 5px rgba(0, 204, 255, 0.7);
}
form input, form textarea {
    width: 100%;
    padding: 2rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    border: 1px solid #00ccff;
    border-radius: 0.5rem;
    background-color: #2b2b2b;
    color: #e0e0e0;
    box-shadow: inset 0 0 10px rgba(0, 204, 255, 0.5);
}
form input:focus, form textarea:focus {
    outline: none;
    border-color: #00ccff;
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.7);
}
form button {
    font-size: 1.8rem;
    padding: 1rem 3rem;
    color: white;
    background-color: #004a89;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 3rem;
}
form button:hover {
    background-color: #00ccff;
    transform: scale(1.05);
}
/* Transiciones y efectos futuristas */
form input::placeholder, form textarea::placeholder {
    color: #666;
}
form input, form textarea {
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}


/* Footer */
footer {
    text-align: center;
    background-color: #004a89;
    color: #fff;
    padding: 1.5rem;
    font-size: 1rem;
}
footer p {
    font-size: 1.6rem;
}
.tecnologias, .librerias {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #00ccff;
}
.tecnologias li, .librerias li {
    margin: 0 1rem;
    display: flex;
    align-items: center;
}
.tecnologias i, .librerias i {
    font-size: 24px;
    margin-right: 0.5rem;
}
.librerias li {
    font-size: 1.4rem;
}

/* Media Queries (Responsivo) */
@media (max-width: 768px) {

    #inicio h1{
        font-size: 5rem;
    }
    #inicio p{
        font-size: 2rem;
    }

    .servicio-card {
        flex: 1 1 calc(100% - 2rem);
    }

    .social-media {
        flex-direction: column;
    }
    .social-media li {
        margin-bottom: 1.5rem;
    }
    form input, form textarea {
        width: 90%;
    }

    .pilar {
        max-width: 45%;
    }
    #pilares h2 {
        font-size: 2.5rem;
    }
    .pilar h3 {
        font-size: 2.2rem;
    }
    .pilar p {
        font-size: 1.6rem;
    }

    .empleado-card {
        flex: 1 1 100%;
        padding: 1.5rem;
    }
    .foto-empleado {
        width: 120px;
        height: 120px;
    }
    .info-empleado h3 {
        font-size: 1.5rem;
    }
    .info-empleado p {
        font-size: 1.2rem;
    }
    .skills li {
        font-size: 1.2rem;
    }
    .expansion p {
        text-align: left;
    }

    .social-media li a i {
        margin-right: 0.5rem;
        font-size: 2rem; 
    }

    .milestone {
        width: 45%;
    }
    #vision-futuro h2 {
        font-size: 2.5rem;
    }
    .milestone h3 {
        font-size: 2.5rem;
    }
    .milestone p, .expansion p, .cta-button {
        font-size: 1.8rem;
    }
    .quote {
        font-size: 2.5rem;
    }
    .icons-futuro i {
        font-size: 2.5rem;
    }
}

@media (max-width: 480px) {
    
    #inicio h1{
        font-size: 4rem;
    }
    #inicio p{
        font-size: 1.5rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    .pilar {
        max-width: 90%;
    }
    #pilares h2 {
        font-size: 2rem;
    }
    .pilar h3 {
        font-size: 1.8rem;
    }
    .pilar p {
        font-size: 1.4rem;
    }

    .empleado-card {
        padding: 1rem;
    }
    .foto-empleado {
        width: 100px;
        height: 100px;
    }
    .info-empleado h3 {
        font-size: 1.5rem;
    }
    .info-empleado p {
        font-size: 1.2rem;
    }
    .skills li {
        font-size: 1.2rem;
    }

    .milestone {
        width: 90%;
    }
    #vision-futuro h2 {
        font-size: 2rem;
    }
    .milestone h3 {
        font-size: 2rem;
    }
    .milestone p, .expansion p, .cta-button {
        font-size: 1.6rem;
        text-align: center;
    }
    .quote {
        font-size: 2rem;
    }
    .icons-futuro i {
        font-size: 2rem;
    }
}
